body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #111;
  color: #fff;
}

header {
  min-height: 60vh;

  background-image:
    linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
    url("img/fondo.jpg");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
  color: white;
}

.catalogo {
  padding: 20px;
}

details {
  background: #1c1c1c;
  margin-bottom: 10px;
  border-radius: 8px;
  padding: 10px;
}

.logo {
  color: white;
  text-decoration: none;
}


.categorias {
  padding: 40px 20px;
}

.grid-categorias {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}

.categoria {
  background: #1c1c1c;
  border-radius: 12px;
  overflow: hidden;
  text-decoration: none;
  color: white;
  transition: transform 0.3s;
}

.categoria:hover {
  transform: translateY(-5px);
}

.categoria img {
  width: 100%;
  height: 160px;
  object-fit: cover;
}

.categoria h3 {
  margin: 10px;
}

.categoria p {
  margin: 0 10px 15px;
  font-size: 14px;
  color: #ccc;
}


.galeria {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 15px;
  padding: 20px;
}

.galeria img {
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}



.hero {
   position: relative;
  min-height: 60vh;

  background-image:
    linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
    url("img/fondo.jpg");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
  color: white;
}

.btn-volver {
  position: absolute;
  top: 20px;
  left: 20px;
  background: #00ff99;
  color: #000;
  padding: 8px 14px;
  text-decoration: none;
  border-radius: 6px;
  font-weight: bold;
}








.subheader {
  padding: 40px 20px;
  text-align: center;
  background: #000;
}

.nota {
  text-align: center;
  margin-top: 30px;
}

.nota a {
  color: #00ff99;
  font-weight: bold;
}

summary {
  font-weight: bold;
  cursor: pointer;
  font-size: 16px;
}

details ul {
  margin-top: 10px;
  padding-left: 20px;
}

details li {
  margin-bottom: 5px;
}


background-image:
  linear-gradient(rgba(0,0,0,0.65), rgba(0,0,0,0.65)),
  url("img/fondo.jpg");


.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 15px 25px;
  background: #00ff99;
  color: #000;
  text-decoration: none;
  font-weight: bold;
  border-radius: 8px;
}

.productos {
  padding: 30px 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  gap: 15px;
}

.card {
  background: #1c1c1c;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
}

footer {
  text-align: center;
  padding: 20px;
  background: #000;
  font-size: 14px;
}
